<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equic="X-UA-Compatible" content="ie=edge">
    <title>truchiwoman</title>
    <meta name="description" content="La trucha es una mujer con suficientes atributos de mujer como para que, traducida al merluzo, haya besugos que la reconozcan como tal.">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="mujer, trucha, traducción, traductora, truchimán, árabe">
    <meta name="author" content="Rita Tapia Oregui">
    <meta name="language" content="es">
    <meta name="rating" content="general">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="4 days">
    <meta name="subject" content="La trucha es una mujer con suficientes atributos de mujer como para que, traducida al merluzo, haya besugos que la reconozcan como tal.">
    <link rel='icon' href='/static/trucha.png' type='image/png' >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16808012795"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'AW-16808012795');
    </script>
</head>	    


<body>
    <div class="grid-container">
      <div class="A1">
          <a href="translations?location=A1">
              <img class="front" src="/static/A1.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="Mujer trucha">
          </a>
      </div>

      <div class="A2">
          <a href="translations?location=A2">
              <img class="front" src="/static/A2.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="mujer trucha">
          </a>
      </div>

      <div class="A3">
          <a href="translations?location=A3">
              <img class="front" src="/static/A3.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="trucha mujer">
          </a>
      </div>

      <div class="A4">
          <a href="wheres_wally?location=A4">
              <img class="front" src="/static/A4.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="Trucha mujer">
          </a>
      </div>

      <div class="A5">
          <a href="translations?location=A5">
              <img class="front" src="/static/A5.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="truchimujer">
          </a>
      </div>

      <div class="A6">
          <a href="translations?location=A6">
              <img class="front" src="/static/A6.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="truchi-mujer">
          </a>
      </div>

      <div class="A7">
          <a href="translations?location=A7">
              <img class="front" src="/static/A7.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)"  alt="truchamujer">
          </a>
      </div>

      <div class="B1">
          <a href="translations?location=B1">
              <img class="front" src="/static/B1.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)"  alt="truchi mujer">
          </a>
      </div>

      <div class="B2">
          <a href="translations?location=B2">
              <img class="front" src="/static/B2.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="mujer y trucha">
          </a>
      </div>

      <div class="B3">
          <a href="translations?location=B3">
              <img class="front" src="/static/B3.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="mujertrucha">
          </a>
      </div>

      <div class="B4">
          <a href="explanations?location=B4">
              <img class="front" src="/static/B4.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="mujer-trucha">
          </a>
      </div>
      
      <div class="B5">
          <a href="translations?location=B5">
              <img class="front" src="/static/B5.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="una trucha que es mujer">
          </a>
      </div>

      <div class="B6">
          <a href="translations?location=B6">
              <img class="front" src="/static/B6.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="una mujer que es trucha">
          </a>
      </div>

      <div class="B7">
          <a href="translations?location=B7">
              <img class="front" src="/static/B7.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="trucha y mujer">
          </a>
      </div>

      <div class="C1">
          <a href="translations?location=C1">
              <img class="front" src="/static/C1.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="trucha femenina">
          </a>
      </div>
      
      <div class="C2">
          <a href="translations?location=C2">
              <img class="front" src="/static/C2.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="trucha fémina">
          </a>
      </div>

      <div class="C3">
          <a href="translations?location=C3">
              <img class="front" src="/static/C3.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="fémina trucha">
          </a>
      </div>

      <div class="C4" onclick="trigger()">
          <a href="stats?location=C4">
              <img class="front" src="/static/C4.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="el trucho y la trucha">
          </a>
      </div>
      
      <div class="C5">
          <a href="translations?location=C5">
              <img class="front" src="/static/C5.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="una trucha con ovarios">
          </a>
      </div>
      
      <div class="C6">
          <a href="translations?location=C6">
              <img class="front" src="/static/C6.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="the woman and the trout">
          </a>
      </div>
      
      <div class="C7">
          <a href="translations?location=C7">
              <img class="front" src="/static/C7.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="truchimana">
          </a>
      </div>
      
      <div class="D1">
          <a href="translations?location=D1">
              <img class="front" src="/static/D1.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="trucha, la mujer">
          </a>
      </div>
      
      <div class="D2">
          <a href="translations?location=D2">
              <img class="front" src="/static/D2.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="trucha hembra">
          </a>
      </div>
      
      <div class="D3">
          <a href="translations?location=D3">
              <img class="front" src="/static/D3.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="hembra trucha">
          </a>
      </div>
      
      <div class="D4">
          <a href="feedback?location=D4">
              <img class="front" src="/static/D4.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="señora trucha">
          </a>
      </div>
      
      <div class="D5">
          <a href="translations?location=D5">
              <img class="front" src="/static/D5.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="trucha y dama">
          </a>
      </div>
      
      <div class="D6">
          <a href="translations?location=D6">
              <img class="front" src="/static/D6.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="doña lancurdia">
          </a>
      </div>
      
      <div class="D7">
          <a href="translations?location=D7">
              <img class="front" src="/static/D7.png" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" alt="doña trucha">
          </a>
      </div>
      
    </div>
    <div class="loading" id="loading" >
        <img class="manImg" src="../static/loading.gif" alt="water_drop">
    </div>
    <div class="full_screen" id="full_screen" onclick="openFullscreen();" >
         <img src="/static/full_screen.png" style="width:70px; height:70px;">
    </div>
    <div class="reduce_screen" id="reduce_screen" onclick="closeFullscreen();" >
         <img src="/static/close_screen.png" style="width:70px; height:70px;">
    </div>
    
    <script type="text/javascript">
    
        function bigImg(x) {
          x.style.opacity = 1;
          x.style.transform = 'scale(1.15)';
        };
        
        function normalImg(x) {
          x.style.opacity = 0;
        };
        

        function trigger(){
            document.getElementById("loading").style.visibility = "visible"; 
        }; 
        
        function redirectMobileHandler() {
          const width = Math.max(document.clientWidth || 0, window.innerWidth || 0);
          if (width < 1000) {
              window.location.href = "small_screen";
          }
        }
        
        window.onload = redirectMobileHandler();
        window.onresize = () => redirectMobileHandler();
        
        // Using JavaScript to open the page in fullscreen mode
        var elem = document.documentElement;
        function openFullscreen() {
          if (elem.requestFullscreen) {
              elem.requestFullscreen();
              document.getElementById("reduce_screen").style.visibility = "visible";
              document.getElementById("full_screen").style.visibility = "hidden";
          } else if (elem.webkitRequestFullscreen) { 
              elem.webkitRequestFullscreen();
              document.getElementById("reduce_screen").style.visibility = "visible";
              document.getElementById("full_screen").style.visibility = "hidden";

          } else if (elem.msRequestFullscreen) { /* IE11 */
              elem.msRequestFullscreen();
              document.getElementById("reduce_screen").style.visibility = "visible";
              document.getElementById("full_screen").style.visibility = "hidden";
          }
        }
        
        function closeFullscreen() {
          if (document.exitFullscreen) {
              document.exitFullscreen();
              document.getElementById("reduce_screen").style.visibility = "hidden";
              document.getElementById("full_screen").style.visibility = "visible";
          } else if (document.webkitExitFullscreen) { /* Safari */
              document.webkitExitFullscreen();
              document.getElementById("reduce_screen").style.visibility = "hidden";
              document.getElementById("full_screen").style.visibility = "visible";
          } else if (document.msExitFullscreen) { /* IE11 */
              document.msExitFullscreen();
              document.getElementById("reduce_screen").style.visibility = "hidden";
              document.getElementById("full_screen").style.visibility = "visible";
          }
        }

    </script>

</body>

</html>
